$colorBlack: rgb(8, 8, 8);
$colorWhite: rgb(250, 249, 249);
$colorGrey: lighten($colorBlack, 82%); 
$colorGreyDark: lighten($colorBlack, 50%); 
 

$colorBlue : rgb(36, 13, 240);
$colorBlueLight: rgb(50, 132, 240);

$colorRed: rgb(235, 15, 15);